<div id="introduction">
    <h4>Introduction</h4>
    <p>This page will set up your cms page, please fill up the forms and your page should be set up automaticly and be ready to go. You will need this information about your server:</p>
    <ol>
        <li>Nombre de la base de datos</li>
        <li>Usuario de la base de datos</li>
        <li>Contraseña de la base de datos</li>
        <li>Servidor de la base de datos</li>
    </ol>
    <p>This information is only needed to configure your page, and it'll not be send in any way.</p>
    <p>Throughout the precces you will find a place where it ask for sample data for your page that will be usefull if you're not familiar with this website, these files are already in your folders and won't download from the internet so it won't take much time to apply, and if you don't know how to do something, just click the small question sign next to each input and a explanation will show up in the page.</p>
    <div>
    <button class="button" id="continue">Continue</button>
        <div class="side-checkbox"><input type="checkbox"><label>Check for advanced configuration. (it does nothing)</label></div>
    </div>
</div>