<div id="callback"></div>
<div id="remove-files">
<form class="form" action="installfunctions/removeFiles.php" method="post" data-alert="Deleting">
    <p>Finally we'll try to remove these installation scripts, so that they won't be used to change your data or compromise your site.<p>
    <div>
        <input class="button" type="submit" value="Proceed">
        <input type="hidden" class="password_hash" name="password_hash">
        <quote>If the server can't do this, you'll recive instructions on how to remove the files by yourself.</quote>
    </div>
</form>
</div>